div{
    border: 1px solid red;
    width: 500px;
    background-color: grey;
    margin: 100px;
    padding: 20px;
    /* box-shadow: 10px 20px 30px green inset ; */
    box-shadow: 10px 20px 30px green,10px 10px 15px yellow ;
}