
 :root{
    --primary-color:red;
    --btn-color: blue ;
    --text-color: black;
} 
#func{
    background-color: blue;
    height: 200px;
    /* width: 70%; */
    width: calc(100% - 200px);
}
a{
    padding: 10px 30px;
    margin: 20px;
    background-color: chartreuse;
    color: aqua;
    text-decoration: none;

}